* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.cdnfonts.com/css/netflix-font');

body {
    background-color: black;
    font-family: 'Netflix Font', sans-serif;
}

.main {
    height: 100vh;
    background: url('assets/images/bg.jpg');
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    position: relative;
}

.box {
    width: 100%;
    height: 100vh;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 75vw;
    height: 62px;
    padding-top: 20px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

nav img,
button {
    position: relative;
    z-index: 10;
}

nav img {
    width: 9.25rem;
}

nav button {
    font-family: 'Netflix Font', sans-serif;
    padding: 11px 17px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
}

.hero {
    width: 80vw;
    margin: auto;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    gap: 20px;
}

.hero span,
h1 {
    position: relative;
    z-index: 10;
    font-weight: 400;
    font-size: 24px;
}

h1 {
    font-weight: 900;
    font-size: 48px;
}

.hero button {
    padding: 15px 30px;
    font-weight: 600;
    font-size: 24px;
}

.red-btn {
    color: white;
    background-color: rgb(231, 2, 2);
    border: none;
    border-radius: 5px;
    transition: all ease-in-out 0.4s;
}

.red-btn:hover {
    background-color: rgb(158, 1, 1);
}